

/**


**/


.bon-alert {
	padding-left: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-image: url('/extensions/BooksOnline/images/bon-alert.png');
	background-size: 40px;
	background-position: left center;
	background-repeat: no-repeat;
}



